header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}

nav {
    a{
        img{display: none;}
        span{display: block;}
    }
}

main{
    #sectionTwo{
        div{
            grid-template-areas: 
            "title title" 
            "img description" 
            "img button";
        }
    }
}