$colorOne: #92C7FA;
$colorTwo: #A991FA;
$colorThree: #F891FA;
$colorFour: #FA91AD;
$colorFive: #FAC491;
$colorSix: #E1FA91;
$colorSeven: #93FA91;
$colorEight: #91FADE;

$fontColor: #333;

$defaultFont: "Ubuntu", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;